<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Order Cake | Order now</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header-container">
                <div class="header-logo">
                    <a href="#" class="">
                        <img src="./images/logo.png" alt="">
                    </a>
                </div>
                <div class="text-24 font-bold text-white header-title">
                    <a href="#">
                        Order Cakes
                    </a>
                </div>
                <div class="header-menu">
                    <div class="header-cart">
                        <a href="#"><img src="./images/cart-shopping-solid.svg" alt=""></a>
                    </div>
                    <div class="text-20 text-white font-medium header-login">
                        <a href="#">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <%- body %>
        <footer></footer>
</body>

</html>